.container {
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 5px;
  background-color: rgb(196, 223, 233);
  width: 75%;
  max-width: 90%;
}

footer {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  cursor: pointer;
}
