body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(44, 44, 44, 0.871);
  background-color: rgb(218, 235, 242);
}
